<div data-format="PresentationML" data-version="2.0">
    <div style="border-collapse:separate;border:1px solid #d8d8d8;table-layout:auto;background-color:white;width:auto;display: inline-block;border-radius:5px;">
        <div style="background-color: #eaeaea;padding:10px 10px;"><span
                style="font-size:15px;font-weight:bold;font-family: sans-serif">Margin Call ID: C-449</span><br/> <span
                style="font-size:15px;font-weight:bold;font-family: sans-serif">GCP Name: HSBC</span><br/> <span
                style="font-size:15px;font-weight:bold;font-family: sans-serif">GCP ID: C00019</span></div>
        <div style="background-color: #f6f6f6;padding:10px 10px;"><span style="font-size:15px;font-family: sans-serif">=====================================================================================</span><br/>
            <span style="font-size:15px;font-family: sans-serif">The Intra-day Margin Call(IDM) has been issued for your account 00001 and the call amount is HK$ 6,400</span><br/>
            <span style="font-size:15px;font-family: sans-serif">Detail breakdown as following:</span><br/>
            <table style="border-collapse: separate;margin-top: 5px;border: 1.5px solid #d8d8d8;">
                <tr>
                    <th>Stock</th>
                    <th>Quantity</th>
                    <th>Marks amount</th>
                </tr>
                <tr>
                    <td>82843</td>
                    <td>30,000</td>
                    <td>-400</td>
                </tr>
                <tr>
                    <td>83155</td>
                    <td>100,000</td>
                    <td>-6,000</td>
                </tr>
            </table>
            <span style="font-size:15px;font-family: sans-serif">For more details, please refer to the  CRMIM01 report attached.</span><br/>
            <span style="font-size:15px;font-family: sans-serif">=====================================================================================</span><br/>
        </div>
    </div>
</div>
